* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-image: url(./img/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 217px;
  padding-bottom: 493px;
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 32px;
  max-width: 789px;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 44px;
  max-width: 481px;
}
.text .bold {
  font-weight: 700;
}

.button {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  color: #fff;
  background-color: #9C0332;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  outline: none;
  border: none;
  transition: all 0.3s;
}
.button:hover {
  cursor: pointer;
  background-color: #EB443F;
}

.product-box {
  background-color: #000915;
  padding-top: 128px;
  padding-bottom: 128px;
  gap: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-box .product {
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: all 0.3s;
  box-sizing: border-box;
}
.product-box .product:hover {
  transform: scale(1.05);
  /* border: 3px solid #44D2FF;
  border-radius: 22px; */
}
.product-box .product__img {
  border-radius: 20px;
}
.product-box .product__namebox {
  margin-left: 32px;
  margin-bottom: 32px;
  position: absolute;
}
.product-box .product__namebox .product__name {
  text-decoration: none;
  color: #fff;
}

.game {
  background-color: #000915;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.game .game__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 282px;
  padding-bottom: 282px;
  max-width: 600px;
}
.game .game__info .game__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.footer {
  height: 80px;
  background-color: #000915;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding: 0;
    height: 735px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/background-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .heading {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .text {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #fff;
    margin-bottom: 32px;
    max-width: 343px;
    text-align: center;
  }
  .text .bold {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
  }
  .product-box {
    justify-content: center;
  }
  .product-box .product__img {
    max-width: 343px;
  }
  .game {
    flex-direction: column;
    gap: 64px;
  }
  .game .game__info {
    padding-top: 51px;
    padding-bottom: 0;
    align-items: center;
  }
  .game .game__info .game__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #fff;
    text-align: center;
  }
  .game__img {
    width: 344px;
    height: 236px;
    padding-bottom: 85px;
  }
  .reverse {
    flex-direction: column-reverse;
  }
}
@media (max-width: 374px) {
  .product-box .product__img {
    max-width: 300px;
  }
  .game__img {
    width: 300px;
    height: 200px;
  }
}/*# sourceMappingURL=style.css.map */