* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

button,
input {
    font-family: inherit;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    background-image: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 217px;
    padding-bottom: 493px;
}

.title {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    margin-bottom: 32px;
    max-width: 789px;
}

.heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
}

.text {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 44px;
    max-width: 481px;

    .bold {
        font-weight: 700;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 234px;
    height: 48px;
    border-radius: 30px;
    background-color: #9C0332;
    outline: none;
    border: none;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: #EB443F;
    }
}

.product-box {
    background-color: #000915;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .product {
        position: relative;
        display: flex;
        align-items: flex-end;
        transition: all 0.3s;
        box-sizing: border-box;
        border: 3px solid transparent;
        width: 378px;
        height: 300px;

        &:hover {
            border: 3px solid #44D2FF;
            border-radius: 20px;
        }

        &__name {
            text-decoration: none;
            color: #fff;
            left: 32px;
            bottom: 32px;
            position: absolute;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
        }
    }

    .game1 {
        display: flex;
        background-image: url(./img/game1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid #000915;
        border-radius: 20px;
    }

    .game2 {
        background-image: url(./img/game2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid #000915;
        border-radius: 20px;
    }

    .game3 {
        background-image: url(./img/game3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid #000915;
        border-radius: 20px;
    }
}

.game {
    background-color: #000915;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .game__info {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 282px;
        padding-bottom: 282px;
        max-width: 600px;

        .game__text {
            font-size: 18px;
            font-weight: 300;
            line-height: 32px;
        }
    }

    .riddles__info {
        max-width: 1200px;
    }
}

.background {
    background-image: url(./img/game3__background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
    text-align: center;
}

.footer {
    height: 80px;
    background-color: #000915;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0px;
        text-align: left;
    }
}

@import 'mobile'